@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;800&family=Sevillana&display=swap');


#menuList{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;

    color: #000000;
}

#menuItem{
    float: Left;
    display: block;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;

    padding-right: 55px;
}

#navBar{

    height: 108px;
    left: 0px;
    top: 0px;
    
    background: #C4C4C4;
}

#title{
    font-family: 'Sevillana';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
}

#selected{
    float: Left;
    display: block;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-decoration-line: underline;

    color: #000000;

    padding-right: 55px;
}

#tituloVitrina{
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-weight: 800;
    font-size: 32px;

    color: #000000;
}

#vitrina{
    background: #C4C4C4;
    padding-top: 7px;
}

hr{
    border: 1px solid #000000;
}

.card{
    width: 266px;
    height: 290px;
    background: #C4C4C4;   
    border: 1px solid #000000;
    box-sizing: border-box;
}

#imagenMuseo{
    width: 178px;
    height: 143px;
    margin-top: 30px;
    background-position: center center;
    background-repeat: no-repeat;  
}

#nombreGaleria{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 0%;
  
    color: #000000;
  
}

#nombreCiudad{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 30px;

    color: #000000;
}